<!-- src/main/resources/templates/home.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home Page</title>
</head>
<body class="transparent-overlay" style="background-image: url('/background-image.jpg'); background-size: cover;"
>

    <header>
        <div class="company-name">E-CUBED</div>
    </header>

    <main>
        <!-- Content for the home page -->
        <div>
          
            <!-- Add more content as needed -->
        </div>
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>

    <script src="/script.js"></script>
</body>
</html>
